{% extends "@pages/_article-base-template.twig" %}

{% set hero_items = [] %}

{% for i in node.field_hero_image %}
  {% set hero_item = { 'background_image' :  file_url(i.entity.uri.value) } %}
  {% set hero_items = hero_items|merge([hero_item]) %}
{% endfor %}

{% block header %}
    {% include directory ~ '/templates/includes/header.html.twig' with {
        'logo' : logo.url,
    } %}
{% endblock %}

{% block content %}
  <div class="contents--wrapper">
    {% block top_section %}
      {% include "@molecules/02-blocks/01-block-hero.twig" with {
        "backgrounds" : hero_items,
        "heading" : node.field_headline.value,
        "alignment" : "right",
        "body" : "",
        "link_text" : 'SEE YOUR IMPACT',
        "link_href" : path('entity.node.canonical', {'node': node.field_link_to.entity.nid.value})
      } %}
      {% if alert_bar_is_visible %}
        {% include "@molecules/08-messaging/00-alert.twig" with {
          'alert' : {
            'text' : alert_bar
          }
        } %}
      {% endif %}
    {% endblock %}
    {% block middle_section %}
        {% if page.content %}
          {{ page.content }}
        {% endif %}
    {% endblock %}
    {% block bottom_section %}
      {% if page.footer %}
        {{ page.footer }}
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}

{% block footer %}
    {% include directory ~ '/templates/includes/footer.html.twig' with {
      'logo' : footer_logo
    } %}
{% endblock %}