{% extends directory ~ '/templates/page/page.html.twig' %}

{% block content %}
  <div class="contents--wrapper">
    {# include "@molecules/01-blocks/01-block-hero.twig #}
    
    {% if page.content %}
      {{ page.content }}
    {% endif %}
  </div>
{% endblock %}