{% extends "@pages/_base-page.twig" %}

{% block header %}
    {% include directory ~ '/templates/includes/header.html.twig' with {
        'logo' : logo.url,
    } %}
{% endblock %}

{% block content %}
    <div class="contents--wrapper">
      {% if node.title.value %}
        <div class="content-area">
            <div class="column-wrapper">
                <div class=" column-large-8 column-medium-8 column-small-12 column-xsmall-12">
                    {% include "@molecules/02-blocks/03-block-header-landing-no-photo.twig" with { 
                      'title' : node.title.value
                    }%}
                </div>
            </div>
        </div>
      {% endif%}
      <div class="content-area">
        <div class="column-wrapper">
          <div class="column-large-8 column-medium-8 column-small-12 column-xsmall-12">
            <div class="column-wrapper">
              <div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">
                {% if node.field_intro_text.value %}
                  {% include "@molecules/01-text/01-section-intro.twig" with {
                    'intro_text' : node.field_intro_text.value
                  } %}
                {% endif %}
                {% if page.content %}
                  {{ page.content }}
                {% endif %}
              </div>
            </div>    
          </div>
          {% if page.sidebar_right %}
            <div class="column-large-3 column-large-offset-1 column-medium-4 column-small-12 column-xsmall-12">
                {{ page.sidebar_right }}
            </div>
          {% endif %}
        </div>
      </div>
      {% if page.footer %}
        <div class="content-area content-area--fluid">
          <div class="column-wrapper">
            {{ page.footer }}
          </div>
        </div>
      {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {% include directory ~ '/templates/includes/footer.html.twig' with {
      'logo' : footer_logo
    } %}
{% endblock %}