{% extends directory ~ '/templates/page/page.html.twig' %}

{% block content %}
  <div class="contents--wrapper">
    {% if page.content %}
      {{ page.content }}
    {% endif %}
  </div>
{% endblock %}