{% extends "@organisms/01-content-blocks/12-whats-hot-list.twig" %}

{% block label %}
    <h3 class="list-title text-align--center">{{ label }}</h3>
{% endblock %}

{% block items %}
    {{ content }}
{% endblock %}

