{% extends "@organisms/01-content-blocks/01-funding-priorities.twig" %}

{% block title %}
    <h3 class="text-align--center">{{ label }}</h3>
{% endblock %} 

{% block slider %}
  {% block content %}
    {{ content }}
  {% endblock %}
{% endblock %}